# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Data (raw dataset tidak disertakan di repo — lihat README > Dataset)
/data/raw/

# Editor
.vscode/
.idea/
