# ==========================
# PostgreSQL Configuration
# ==========================

DB_HOST=
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=

# ==========================
# Database Schemas
# ==========================

SCHEMA_RAW=raw
SCHEMA_STAGING=staging
SCHEMA_ANALYTICS=analytics